<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flutter Application 1</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_application_1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Grant access to the camera at all times while in the workplace to take a picture of the actual user's face to confirm his presence inside the facility.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Grant access to the photos gallery access to update and send profile image</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Grant access to your location always, and enabling 'location accuracy' is crucial for verifying your presence in the office, creating optimal routes, and seamlessly running location-related functions in the background, enhancing your overall app experience.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Grant access to your location always, and enabling 'location accuracy' is crucial for verifying your presence in the office, creating optimal routes, and seamlessly running location-related functions in the background, enhancing your overall app experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Grant access to your location always, and enabling 'location accuracy' is crucial for verifying your presence in the office, creating optimal routes, and seamlessly running location-related functions in the background, enhancing your overall app experience.</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion detection is needed to determine more accurate locations when no GPS signal is found or used.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>com.apple.security.network.client</key>
	<true/>
</dict>
</plist>
